html, body{
    height:100% !important;
    width:100%;
    margin:0;
    padding:0;
}
#app{
    height:inherit;
}
 
/*Styles for the login page*/
.login{
    height:100%;
}

#welcome{
    height: 30%;
    background-color: #4A5240;
    display:flex;
    margin:0;
    align-items: center;
    justify-content: center;
}
#welcome div{
    font-size:100px;
    font-family: sans-serif;
    color:#a28497;
}

#loginMessage{
    height:10%;
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: #ADA8BE;
}

#loginMessage{
    font-size: 30px;
    font-family:sans-serif;
}

#loginContainer{
    display:flex;
    height:55%;
    align-items:center;
    justify-content:center;
}

#loginForm{
    display:flex;
    flex-direction:column;
    bottom:75px;
    justify-content:center;
}

/*Styles for the attendant lookup page*/
.adminBanner{
    height:40%;
    background-color: #6f5e5c;
}